@model DigitalLib.Models.Cliente

<h1>Detalhes do Cliente</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome completo
        </dt>
        <dd class="col-sm-10">
            @Model.Nome
        </dd>
        <dt class="col-sm-2">
            Data de Nascimento
        </dt>
        <dd class="col-sm-10">
            @Model.DataNascimento.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Gênero
        </dt>
        <dd class="col-sm-10">
            @Model.Genero
        </dd>
    </dl>
</div>

<h4>Livros Alugados</h4>
<table class="table">
    <thead>
        <tr>
            <th>Título do Livro</th>
            <th>Data de Empréstimo</th>
            <th>Data de Devolução</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Alugueis.Count > 0)
        {
            @foreach (var aluguel in Model.Alugueis)
            {
                <tr>
                    <td>@aluguel.Livro.Titulo</td>
                    <td>@aluguel.DataEmprestimo.ToShortDateString()</td>
                    <td>
                        @if (aluguel.DataDevolucao.HasValue)
                        {
                            @aluguel.DataDevolucao.Value.ToShortDateString()
                        }
                        else
                        {
                            <span>Não devolvido</span>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>Não possui livros alugados.</td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Index"
       class="btn btn-secondary"
       data-toggle="tooltip"
       title="Voltar">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
        </svg>
        <span>Voltar</span>
    </a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" style="background-color:#c8ad7f;color:white;" class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
        </svg>
        Editar
    </a>
</p>
